@model TestOneDrive.Models.Product.ProductRegister
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["succsess"] != null)
{
    <h2 style="color:green">@TempData["succsess"]</h2>
}

<div class="container">
    <h4 class="text-center" style="color:orangered">UPDATE PRODUCT INFORMATION</h4>
    <div class="row mt-lg-1">
        
        <div class="col-12 offset-0 border border-primary rounded " style="background-color:lightgray">
            
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="ProductCode" class="control-label"></label>
                            <input asp-for="ProductCode" class="form-control" />
                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="CustomerName" class="control-label"></label>
                            <input asp-for="CustomerName" class="form-control" />
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="CustomerEmail" class="control-label"></label>
                            <input asp-for="CustomerEmail" class="form-control" />
                            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="CustomerPhone" class="control-label"></label>
                            <input asp-for="CustomerPhone" class="form-control" />
                            <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="ProductDescription" class="control-label"></label>
                            <input asp-for="ProductDescription" class="form-control" />
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="ProductCategory" class="control-label"></label>
                            <input asp-for="ProductCategory" class="form-control" />
                            <span asp-validation-for="ProductCategory" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label style="color:green" asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label style="color:green" asp-for="ManufucturingDate" class="control-label"></label>
                            <input asp-for="ManufucturingDate" class="form-control" />
                            <span asp-validation-for="ManufucturingDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label style="color:green" asp-for="ExpireDate" class="control-label"></label>
                            <input asp-for="ExpireDate" class="form-control" />
                            <span asp-validation-for="ExpireDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class=" col-12 offset-0 border border-primary rounded  " style="background-color:gainsboro">
                        <h4 class="text-center" style="color:blueviolet">Customer Address</h4>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label style="color:green">Country</label>
                                        <select asp-for="Country" class="form-control" id="Country">
                                            <option>--Select Country--</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label style="color:green">State</label>
                                        <select asp-for="State" class="form-control" id="State">
                                            <option>--Select State--</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label style="color:green">City</label>
                                        <select asp-for="City" class="form-control" id="City">
                                            <option>--Select City--</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label style="color:green" asp-for="Addess1" class="control-label"></label>
                                        <input asp-for="Addess1" class="form-control" />
                                        <span asp-validation-for="Addess1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label style="color:green" asp-for="Addess2" class="control-label"></label>
                                            <input asp-for="Addess2" class="form-control" />
                                            <span asp-validation-for="Addess2" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label style="color:green" asp-for="Landmark" class="control-label"></label>
                                            <input asp-for="Landmark" class="form-control" />
                                            <span asp-validation-for="Landmark" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class=" col-12 offset-0 border border-primary rounded  " style="background-color:gainsboro">
                        <h4 class="text-center" style="color:blueviolet">Upload Document</h4>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label style="color:green" asp-for="ImageName"></label>
                                        <input type="text" asp-for="ImageName" class="form-control" placeholder="Enter ImageName" />
                                        <span class="alert-danger" asp-validation-for="ImageName"></span>

                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label style="color:green" asp-for="ImagePath"></label>
                                        <input type="file" asp-for="ImagePath" class="form-control" />
                                        <span class="alert-danger" asp-validation-for="ImagePath"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="CONTINUE" class=" btn btn-info " />
                            <input type="submit" value="BACK" asp-action="Index" class="btn btn-primary" />
                        </div>

                    </div>


                </div>
            </form>
        </div>
    </div>
</div>











           

